.dark-mode-active button, .dark-mode-inactive button {
  padding: 0;
  margin: 0;
  border: none;
}

.dark-mode-active button {
  background-color: var(--fifth-color);
  color: white;
}

.dark-mode-inactive button {
  color: black;
}

.dark-mode-active > *, .dark-mode-inactive button > * {
  cursor: pointer;
}

.heading {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.heading nav ul {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.heading nav ul li a {
  font-weight: 600;
  text-decoration: none;
}

.heading nav .dark-mode-active a {
  color: whitesmoke;
}

.heading nav .dark-mode-inactive a {
  color: black;
}

.heading nav .dark-mode-active a:hover {
  color: var(--second-color);
}

.moon-icon{
  height: 30px;
}

.sun-icon {
  width: 30px;
}

@media (min-width: 500px) {
  .heading {
    font-size: clamp(1rem, 0.754rem + 1.049vw, 2rem);
    justify-content: space-between;
    padding: 30px var(--left-right-padding) 30px;
  }

  .heading nav {
    width: clamp(300px, 300px + 15vw, 500px);
  }
  
  .heading nav ul {
    justify-content: space-evenly;
  }
  .moon-icon{
    height: clamp(1rem, 0.754rem + 1.049vw, 2rem);
  }
  
  .sun-icon {
    width: clamp(1rem, 0.754rem + 1.049vw, 2rem);
  }
}