.about-me {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 var(--left-right-padding);
}

.about-me > * {
  margin: 0;
}

.about-me p {
  font-size: var(--font-size-p);
}

.section-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

@media (min-width: 500px){
  .about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--responsive-width);
  }

  .about-me h1 {
    align-self: self-start  ;
  }

  .about-me p {
    font-size: clamp(1rem, 0.754rem + 1.049vw, 2rem);
    line-height: 2;
    width: 90%;
  }
}